@model IEnumerable<ojuaraloc.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Todos os clientes</h3>

<ol>
    @foreach (var cliente in Model)
    {
        <li>@cliente</li>
    }
</ol>
